.followerCard {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 2px solid var(--off-white);
  border-radius: 0.5rem;
  box-shadow: 5px 5px 5px var(--off-white);
}

.userNameImageHolder {
  display: flex;
}

.username {
  padding: 0.5rem 0 0 0.5rem;
  color: var(--primary-dark);
}

.btnFollowerCard {
  margin-top: 0.5rem;
}