.followerCredentials {
  display: flex;
}

.followerImgContainer {
  width: 3rem;
}

.followerImg {
  max-width: 100%;
  border-radius: 100%;
}

.followerName {
  padding: 0 1rem;
}

.followerCardActionBtn {
  border: 3px solid black;
  border-radius: 0.5rem;
  background: none;
  width: 7rem;
  margin-top: 1rem;
  cursor: pointer;
}
