.newPostName {
    max-width: 23rem;
    margin: 0;
}

.newPostText {
    width: 23rem;
    height: 7rem;
}

.newPostActionBtnContainer {
    display: flex;
    justify-content: space-between;
}

.newPostBtn {
    max-width: 3rem;
    border: none;
    background: none;
    font-size: 1.2rem;
    cursor: pointer;
}