.newPost {
  min-width: 90%;
  margin: auto;
}

.textareaHolder {
  width: 100%;
  display: flex;
  align-items: center;
}

.newPostText {
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--primary-dark);
  height: 7rem;
  padding: 0.3rem;
  resize: none;
}

.newPostActionBtnContainer {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.totalChars {
  color: var(--primary-color);
}