.newPost {
    width: 22rem;
    margin: 0;
}

.newPostText {
    width: 22.5rem;
    height: 7rem;
}

.newPostActionBtnContainer {
    display: flex;
    justify-content: space-between;
}

.newPostBtn {
    width: 3rem;
    border: none;
    background: none;
    font-size: 1.2rem;
    cursor: pointer;
}