.postContainer {
    width: auto;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 2px solid var(--off-white);
    border-radius: 0.5rem;
    box-shadow: 7px 6px 5px var(--off-white);
}

.postAuthorCredentials {
    display: flex;
    align-items: flex-start;
}

.usernamePost {
    padding-left: 0.5rem;
    color: var(--primary-dark);
}

.postText {
  padding: 0.5rem 0;
}

.showOptionsBtn {
    margin-left: 1rem;
}

.postLikesNumber {
    font-size: 16px;
}