.profileUtilityBtnContainer {

}

.profileUtilityBtn {
    border: 3px solid black;
  border-radius: 0.5rem;
  background: none;
  padding: 0.5rem;
  width: 7rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  cursor: pointer;
  color: #000000;
  text-decoration: none;
}