@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;800;900&display=swap');

:root {
    --primary-color: #3F37C9;
    --primary-dark: #0D1117;
    --dark-grey: #374151;
    --off-grey: #B7B7A4;
    --off-white: #F3F4F6;
    --white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
}

.App{
    font-family: "Poppins", serif;
    color: var(--primary-dark);
}

.navbar {
    margin: auto;
    width: 100%;
    align-items: center;
}

.navLink {
    color: var(--primary-dark);
    text-decoration: none;
    padding: 1rem;
    border: none;
    cursor: pointer;
}

.logoutBtn {
    background: none;
}